@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.btn3{
    margin-left: 1400px;
    margin-top: 100px;
}

.tab{
    margin: 0px;
    margin-left: 10px;
    
}

.ord{
    margin-top: 50px;
    margin-left: 650px;
    font-size: 20px;
}