@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*{
    margin: 0px;
    padding: 0px;

}

.success{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

i{
    color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    position: relative;
    margin-top: 180px;
  
   
}