*{
    padding: 0;
    margin: 0;

}

.email{
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
}

.password{
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
}


.text{
  font-size: medium;

}

.btn{
    margin-top: 5px;
   margin-left: 0px;
   float: center;
}